.navigation--cms {
    width: 280px;
    height: 100vh;
    padding: 0 30px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    position: fixed;
    
    
    &::before {
        left: 0;
        content: '';
        height: 4px;
        width: 100%;
        position: absolute;
        background: $color-primary-gradient;
    }
   

    .navigation--cms__header {
        display: flex;
        padding-top: 40px;
        align-items: center;

        .navigation--cms__header__profile {
            border-radius: 100%;
            height: 50px;
            width: 50px;
            position: relative;
            overflow: hidden;
            display: inline-block;
            border: 2px solid $color-primary-dance;
            margin-left: auto;
        }
    }

    .navigation--cms__body {
        padding-top: 110px;
        ul {
            margin: 0;

            li {
                margin-bottom: 10px;
            }
        }

        a {
            display: flex;
            font-weight: $font-weight-normal;
            text-decoration: none;
        }
    }

    .navigation--cms__footer {
        margin-top: auto;
        border-top: 1px solid $color-grey-3;
        padding-top: 20px;
        padding-bottom: 20px;

        .button {
            display: block;
            text-align: center;
            width: 100%;
        }
    }
}