.section {
    $section-padding: 130px;

    padding-top: $section-padding;
    padding-bottom: $section-padding;

    &.section--background {
        background-color: $color-background-section;
    }
}