.section {
    $section-padding: 130px;

    padding-top: $section-padding;
    padding-bottom: $section-padding;

    &.section--background {
        background-color: $color-background-section;
    }

    &.no-padding-bottom {
        padding-bottom: 0;
    }

    &.no-padding-top {
        padding-top: 0;
    }
}