/*
* For this component we make use of the 'General sibling combinator' selector to style the different step states (Todo, Active, Done).
* By using this selector we only have to specify the 'Active' step, and the others will be styled accordingly
*/

.steps {
    $step-size: 35px;
    $step-size--active: 40px;

    width: 700px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Line behind the buttons
    &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 4px;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-slated-blue;
    }

    // General styling for states
    .step {
        a {
            display: block;
            position: relative;
            
            &::before {
                content: "";
                border-color: $color-slated-blue;
                border-style: solid;
                border-radius: 100%;
                display: block;
                margin: auto;
                position: relative;
            }
        }
    }

    .step {
        position: relative;

        // Done State
        a {
            &::before {
                border-width: 0px;
                background-color: $color-slated-blue;
                width: $step-size;
                height: $step-size;
            }
        }

        // Active
        &.step--active {
            // Extra circle for the Active step
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                background-color: $color-slated-blue;
                position: absolute;
                border-radius: 100%;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                top: 15%;
            }

            a {
                font-weight: $font-weight-semibold;

                &::before {
                    background-color: $color-white;
                    width: $step-size--active;
                    height: $step-size--active;
                    border-width: 4px;
                }
            }
        }

        // To-do State (Check all steps after the active step)
        &.step--active ~ .step {
            a {
                &::before {
                    background-color: $color-white;
                    width: $step-size;
                    height: $step-size;
                    border-width: 3px;
                }
            }
        }
    }
}