.artistinfo--dance{
    display:inline-flex;
    height: 713px;
    width: 100%;

    .artistinfo--dance__artistImg{
        height: 100%;
        width:45%;

    }
    .artistinfo--dance__breadCrumb{
        margin-bottom: 60px;
        margin-left: 250px;
    }

.artistinfo--dance__textContainer{
    width: 60%;
    height:70%;
    padding-top: 80px;
    padding-left: 80px;
    background-color:white;
    transform: rotate(5deg);
}

.artistinfo--dance__infoText{
    transform: rotate(-5deg);
    width:76%;
}

.artistinfo--dance__socialMediaContainer{
    margin-top: 120px;

}
.artistinfo--dance__socialMediaIcons{
    margin-right:30px
}

.artistinfo--dance__ticketButton{
    float: right;
}
}