.artistinfo--jazz{
    display:inline-flex; 
    height: 713px; 
    width: 100%;
    overflow: hidden;

    .artistinfo--jazz__artistImg{
        height: 710px;
        width: 55%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .artistinfo--jazz__breadCrumb{
        margin-bottom: 60px; 
        margin-left: 140px;
    }

    .artistinfo--jazz__textContainer{
        height:70%; 
        padding-top: 80px;
        padding-left: 80px;
        background-color:white;
        transform: rotate(5deg);
    }

    .artistinfo--jazz__infoText{
        transform: rotate(-5deg);
        max-width: 500px;
    }

    .artistinfo--jazz__socialMediaContainer{
        margin-top: 120px;

    }
    .artistinfo--jazz__socialMediaIcons{
        margin-right:30px
    }

    .artistinfo--jazz__ticketButton{
        float: right;
    }
}