.card--cms {
    $card--cms-padding__header: 0 25px;
    $card--cms-height__header: 75px;
    $card--cms-padding__body: 25px;

    background-color: $color-white;
    border-radius: 4px;
    margin-bottom: 18px;
    height: fit-content;

    
    &.js-tab-content {
        display: none;

        &.is-active {
            display: block;
        }
    }
    
    .button--top {
        float: right;
        margin-right: 12px;
        margin-top: 12px;
    }

    .card--cms__header {
        padding: $card--cms-padding__header;
        height: $card--cms-height__header;
        border-top: 2px solid $color-grey-4;
        border-bottom: 1px solid $color-grey-8;
        display: flex;
        justify-content: space-between;

        .button {
            margin: auto 0;
        }

        .card--cms__header__title {
            font-weight: $font-weight-semibold;
            font-size: 22px;
            margin: auto 0;
        }
    }

    .card--cms__body {
        padding: $card--cms-padding__body;

        .card--cms__body__form-title {
            font-weight: $font-weight-semibold;
            margin-top: 0;
            margin-bottom: 0;   
        }

        .card--cms__body__additional {
            font-size: $font-size-label;
            color: #7D7D7D;
            margin: 0;
        }

        .card--cms__body__results {
            ul {
                margin-top: 10px;
            }
        }
    }
}