.badge {
    background-color: $color-error;
    color: $color-white;
    border: 1px solid #940000;
    font-size: $font-size-badge;
    font-weight: $font-weight-bold;
    padding: 8px 5px;
    line-height: 0;
    border-radius: 100%;
}