button, .button {
    $color-button-disabled: #767E94;

    background-color: $color-slated-blue;
    color: $color-white;
    font-size: $font-size-label;
    font-weight: $font-weight-semibold;
    font-family: $font-primary;
    border-radius: $border-radius;
    padding: 13px 37px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
        border-color: $color-slated-blue;
        color: $color-slated-blue;
        background-color: transparent;
    }

    &:focus, &:active {
        color: $color-white;
    }

    &.button--secondary {
        background-color: transparent;
        color: $color-slated-blue;
        border-color: $color-slated-blue;
        &:hover {
            background-color: $color-grey-5;
        }
    }

    &.button--cms {
        background-color: transparent;
        color: $color-text;
        border: none;

        &:hover, &.button--active {
            color: $color-white;
            background-color: $color-primary-dance;
        }
    }

    &:disabled, &.disabled {
        pointer-events: none;
        background-color: $color-button-disabled;
    }
}