.icon {
    $icon-size: 35px;
    $icon-size-small: 25px;

    img {
        width: $icon-size;
        height: $icon-size;
        display: block;
    }
    &.icon--small {
        img {
            width: $icon-size-small;
            height: $icon-size-small;
        }
    }

    &.icon--background {
        img {
            padding: 10px;
            background-color: $color-grey-4;
        }
    }

    &.icon--rounded {
        img {
            border-radius: 100%;
        }
    }
}