input, .input {
    border: 1px solid $color-grey-3;
    font-size: $font-size-label;
    color: $color-black;
    padding: 0 12px;
    border-radius: $border-radius;
    outline: none;
    height: $input-height - 2;
    
    &::placeholder {
        color: $color-input-placeholder;
    }

    &:focus {
        border-color: $color-input-focus;;
    }

    &.error {
        border-color: $color-error;
    }
}

input[type=checkbox], input[type=radio]{
    border: 1px solid $color-slated-blue;
    height: 26px;
    width: 26px;
    vertical-align: middle;

    &:checked {
        background-color: $color-slated-blue;
    }
}

label, .label {
    font-size: $font-size-label;
    display: block;

    span {
        vertical-align: middle;
    }

    &.error {
        color: $color-error;
    }
}

select {
    border-radius: $border-radius;
    border: 1px solid $color-slated-blue;
    height: $input-height;
    min-width: 195px;
    padding-left: 12px;
}