input, .input {
    border: 1px solid $color-grey-3;
    font-size: $font-size-label;
    color: $color-black;
    padding: 15px 12px 13px;
    border-radius: $border-radius;
    outline: none;

    &::placeholder {
        color: $color-input-placeholder;
    }

    &:focus {
        border-color: $color-input-focus;;
    }

    &.error {
        border-color: $color-error;
    }
}

input[type=checkbox], input[type=radiobutton]{
    border: 1px solid $color-slated-blue;
    height: 26px;
    width: 26px;
}

input[type=checkbox] {
    border-radius: $border-radius;
    
}