input, .input {
    border: 1px solid $color-grey-3;
    font-size: $font-size-label;
    color: $color-black;
    padding: 0 12px;
    border-radius: $border-radius;
    outline: none;
    height: $input-height - 2;
    box-sizing: border-box;

    &::placeholder {
        color: $color-input-placeholder;
    }

    &:focus {
        border-color: $color-input-focus;
    }

    &:disabled {
        background-color: $color-white;
        border-color: $color-input-placeholder;
        cursor: not-allowed;
        color: #7D7D7D;
    }

    &.error {
        border-color: $color-error;
    }
}

input[type=checkbox], input[type=radio]{
    border: 1px solid $color-slated-blue;
    height: 26px;
    width: 26px;
    vertical-align: middle;

    &:checked {
        background-color: $color-slated-blue;
    }
}

input[type=file] {
    border: none;
    padding-left: 0;
}

label, .label {
    font-size: $font-size-label;
    display: block;

    span {
        vertical-align: middle;
    }

    &.error {
        color: $color-error;
    }
}

select {
    border-radius: $border-radius;
    border: 1px solid $color-slated-blue;
    height: $input-height;
    min-width: 195px;
    padding-left: 12px;
    outline: none;
    
    &.has-placeholder {
        color: $color-input-placeholder;
    }

    option {
        color: $color-black;
    }
}

fieldset {
    padding: 0;
    border: none;
    margin: 0;
    margin-bottom: 15px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

textarea {
    resize: vertical;
    padding: 12px;
    border-radius: $border-radius;
    box-sizing: border-box;
}