.table--cms {
    width: 100%;
    border-spacing: 0;

    thead {
        text-align: left;
    }

    tbody {
        td {
            border-bottom: 1px solid $color-grey-4;
            padding: 25px 0;
            min-width: 120px;
        }
    }

    .table--cms__item__navigation {
        text-align: right;
        a {
            margin-right: 20px;
        }
    }

    &.table--cms--small {
        td {
            max-width: 120px;
        }

        tbody td:last-child {
            text-align: right;
        }
    }
}