.banner{
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    background-size: cover;
    position: relative;
    border: 2px solid black;
}