//Horizontal Line
.hLine{
    color: $color-black;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    border:1px solid $color-black;
    opacity: 0.2;
}
//Vertical Line
.vLine{
    border-left: 3px solid $color-black;
    height: 300px;
    position: absolute;
    left: 50%;
    opacity: 0.2;
}