.exploreHaarlem {
    margin-top: -70px;

    .exploreHaarlem__textBox
    {
        line-height: 35px;
        width: 600px;
    }

    .exploreHaarlem__container
    {
        position: relative;
    }
    .exploreHaarlem__haarlem
    {
        text-decoration: underline;
        
        &--jazz {
            color: $color-primary-jazz;
        }
        &--dance {
            color: $color-primary-dance;
        }
    }

    .exploreHaarlem__img
    {
        margin-top: 50px;
        display: inline-block;
    }

    .exploreHaarlem__imgRight
    {   
        display: inline-flex;
        float: right;
        margin-top: 50px;
    }


    .exploreHaarlem__text
    {
        position: absolute;
        margin: 50px 50px 0 50px;
        display: inline-block;
        height: 400px;
        width: 800px;
    }

    .exploreHaarlem__textLeft
    {
        margin: 50px 50px 0 0px;
        display: inline-block;
        height: 400px;
        width: 800px;
    }
  
    .exploreHaarlem__icon
    {
        margin-right:5px;
    }

}