.cmb--jazz
{
    margin: 30px 0px 30px 0px;
    text-align: center;
    
.cmb--jazz__box{
    font-size: $font-size-body;
    color: $color-grey-3;
    width: 40%;
}
.cmb--jazz__button{
    margin-left: 13px;
}
}