.artistSongs--jazz
{
    margin-top:40px;
    
    .artistSongs--jazz__cardSection
    {
        position: relative;
        float: left; 
        height: 450px; 
        width:  400px;  
        margin-right: 20px;
    }

    .artistSongs--jazz__songPic{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        box-shadow: inset 100px 200px black;
    }

    .artistSongs--jazz__playIcon{
        position: absolute;
        top: 40%;
        left: 40%;
    }

    .artistSongs--jazz__playIcon:hover
    {
        transform: rotate(360deg);
        transition-duration: 1.5s;
    }

}