.has-color {
    &--cuisine {
        color: $color-primary-cuisine;
    }
    &--history {
        color: $color-primary-history;
    }
    &--dance {
        color: $color-primary-dance;
    }
    &--jazz {
        color: $color-primary-jazz;
    }
}

.has-font-weight-semibold {
    font-weight: $font-weight-semibold;
}

.align--flex-end {
    display: flex;
    justify-content: flex-end;
}

.text-align--right {
    text-align: right;
}

.no-margin {
    margin: 0;
}

.white-space--no-wrap {
    white-space: nowrap;
}

.is-full-width {
    width: 100%;
}
